# IDE
.code-workspace/
.idea/
.settings/
.vscode/

# Local
/api/src/assets/
/api/src/databases/*.db
/app/public/
/app/src/assets/
/app/src/graphql/
.env*
.*ignore
*.pdf

# Generated
.coverage/
.library/
node_modules/
package-lock.json
yarn.lock

# Logs
*.log*
